/* Starter Kit Main Styles
 *
 * Base styles for the starter kit.
 *
 */

body {
  font-family: 'Roboto', sans-serif;
}

button:focus {
  outline: 0;
}

#wrapper {
  width: 100%;
}

.page-wrapper {
  position: fixed;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f5f5f5;
  left: 225px;
  top: 50px;
  padding: 0 15px;
}

@media (max-width: $screen-sm-max) {
  .page-wrapper {
    left: 116px;
  }
}

@media (min-width: $screen-sm-min) {
  .page-wrapper {
    padding: 0 30px;
  }
}

.col-no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.breadcrumb {
  background-color: #fff;
  border: 1px solid #ddd;
}

.page-header {
  border-bottom: 1px solid #d3d3d3;
}
