/* React Bootstrap Datetime Picker Example
 *
 * Styling for the react-bootstrap-datetimepicker examples.
 * https://github.com/quri/react-bootstrap-datetimepicker
 *
 */

.datetimepicker__container {
  position: relative;
}

.datetimepicker__container,
.datetimepicker__container .input-group-addon,
.datepicker .switch,
.datepicker .prev,
.datepicker .next,
.timepicker-minutes td,
.timepicker-hours td,
.datepicker-days td > .day,
.datepicker-months td > .month,
.datepicker-years td > .year {
  cursor: pointer;
}

.datetimepicker__container .input-group-addon:hover,
.datepicker .switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.timepicker-minutes td:hover,
.timepicker-hours td:hover,
.datepicker-days .day:hover,
.datepicker-months .month:hover,
.datepicker-years .year:hover {
  color: $brand-primary;
}

.datepicker {
  max-width: 280px;
}

.datepicker .switch {
  text-align: center;
}

.timepicker-minutes td,
.timepicker-hours td,
.timepicker-picker td,
.datepicker-days .day,
.datepicker-years .year,
.datepicker-months .month {
  text-align: center;
}

.timepicker-minutes table,
.timepicker-hours table {
  margin: auto;
}

.datepicker-years .year,
.datepicker-months .month {
  width: 33%;
  display: inline-block;
  padding: 5px;
}

.datepicker-days .day.today {
  background-color: rgb(204, 204, 204);
  border-radius: 2px;
}

.datepicker-days .day.old,
.datepicker-years .year.old,
.datepicker-months .month.old {
  opacity: 0.7;
}

.datepicker-days .day.active,
.datepicker-years .year.active,
.datepicker-months .month.active {
  color: $brand-primary;
  font-weight: bold;
}
