$griddlefilter : '.griddlefilter';

.griddlefilter {
  &__popover.popover {
    width: 200px;
    margin-top: 0;
    margin-left: 57px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 0 none;

    .arrow {
      display: none;
    }
  }

  &__sort {
    padding: 0;
    display: block;
    font-size: 13px;
    line-height: 1.5;
    color: #999;
    white-space: nowrap;
  }

  &__sortstyle {
    text-align: right;
  }

  &__dropdownbutton {
    .btn-group {
      display: block;
      float: none;
    }
  }

  &__sortdropdown {
    margin-bottom: 15px;
    text-align: left;
    float: none !important;
  }

  &__filter-container {
    list-style: none outside none;
    margin-left: 0;
    padding-left: 0.5em;
  }

  &__icon {
    float: right;
  }

  &__overlay {
    margin-top: 0;
  }

  &__header-button {
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 0;
    border: solid 1px transparent;
    outline: 0 none;
    text-align: left;
    position: relative;

    &:hover,
    &:active,
    &:hover:active,
    &:focus,
    &--active {
      background-color: white;
      outline: 0 none;
      border: solid 1px #808080;
    }

    &--active,
    &--active:hover,
    &--active:active,
    &--active:hover:active,
    &--active:focus {
      border-bottom-color: white;
      z-index: 1061;
    }
  }

  &s > thead > tr > th {
    margin: 0;
    padding: 0;
    border: 0 none;
    position: relative;
  }

  &__popover {
    min-width: 180px;
    margin: -1px 0 0;
    padding: 6px 12px;
    background: none white;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: solid 1px #808080;
    position: absolute;
    z-index: 1060;
  }
}
