$griddlefilter : '.griddlefilter';

.griddlefilter {

  &__popover {
    width: 200px;
    margin-top: 0;
    margin-left: 50px;
    .arrow {
      display: none;
    }
  }

  &__sort {
     padding: 0;
    display: block;
    font-size: 13px;
    line-height: 1.5;
    color: #999;
    white-space: nowrap;
  }

  &__linkbutton {
     float: right;
     border: none;
  }

  &__sortstyle {
     padding-bottom: 15px;
  }

  &__dropdownbutton {
    padding-left: 20px;
  }

  &__button {
    border: none;
    padding-right: 3px;
  }

  &__icon {
    float: right;
  }

  &__overlay {
    margin-top: 0;
  }
}
