/* Left Navigation
 *
 * Styling for the left navigation bar.
 *
 */

.left-nav-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 225px;
  top: 50px;
  right: auto;
  color: $gray-lightest;
  background-color: $brand-cox;
  overflow: auto;

  @media (max-width: 991px) {
    width: 134px;
    overflow-x: hidden;
  }
}

.left-nav {
  &__link {
    font-size: inherit;

    @media (max-width: 991px) {
      font-size: 2em;
    }
  }

  &__pills > li {
    border-bottom: 1px solid #e7e7e7;
  }

  > &__pills > li + li,
  > .nav-stacked > li + li {
    margin-top: 0;
  }

  &__pills > li > a {
    border-radius: 0;
    color: $gray-lightest;
    background-color: $brand-cox;

    &:hover {
      color: $gray-lightest;
      background-color: $brand-cox;
    }
  }

  &__pills > li > a.left-nav__link {
    padding-left: 12px;
  }

  &__pills > li > a.left-nav__link--active {
    color: $gray-lightest;
    background-color: $brand-primary;

    &:hover {
      color: $gray-lightest;
      background-color: $brand-primary;
    }
  }

  @media (max-width: 991px) {
    width: 136px;
  }
}

@media (max-width: 991px) {
  .nav-stacked > li {
    display: inline-block;
    border-bottom: 1px solid $gray-lightest;

    & + li {
      margin-top: 0;
    }
  }

  .nav-stacked > li:nth-child(odd) {
    width: 58px;
    border-right: 1px solid $gray-lightest;
  }

  .nav-stacked > li:nth-child(even) {
    width: 74px;
  }
}
