/* Post Panels
 *
 * Styling for the colored dashboard post panels.
 *
 */
$posts-panel-blue: $brand-primary;
$posts-panel-green: $brand-success;
$posts-panel-red: $brand-danger;
$posts-panel-yellow: $brand-warning;

.posts-panel {
  & > &__heading {
    padding: 10px 15px;
  }

  &__count {
    font-size: 40px;
  }

  &--blue {
    border-color: $posts-panel-blue;
  }

  & &__heading--blue {
    border-color: $posts-panel-blue;
    color: #fff;
    background-color: darken($posts-panel-blue, 10%);
  }

  &__link--blue {
    color: $posts-panel-blue;

    &:hover {
      color: darken($posts-panel-blue, 15%);
    }
  }

  &--green {
    border-color: $posts-panel-green;
  }

  & &__heading--green {
    border-color: $posts-panel-green;
    color: #fff;
    background-color: darken($posts-panel-green, 10%);
  }

  &__link--green {
    color: $posts-panel-green;

    &:hover {
      color: darken($posts-panel-green, 15%);
    }
  }

  &--red {
    border-color: $posts-panel-red;
  }

  & &__heading--red {
    border-color: $posts-panel-red;
    color: #fff;
    background-color: $posts-panel-red;
  }

  &__link--red {
    color: $posts-panel-red;

    &:hover {
      color: darken($posts-panel-red, 15%);
    }
  }

  &--yellow {
    border-color: $posts-panel-yellow;
  }

  & &__heading--yellow {
    border-color: $posts-panel-yellow;
    color: #fff;
    background-color: $posts-panel-yellow;
  }

  &__link--yellow {
    color: $posts-panel-yellow;

    &:hover {
      color: darken($posts-panel-yellow, 15%);
    }
  }
}
