/* Step Indicator
 *
 * Step indicator generic UI component.
 *
 */

/* Step Indicators
    ------------------------------------------------ */
$tracker-margin-bottom: 24px;
$tracker-step-color: #fff;
$tracker-step-background: #c7cbca;

ul.tracker {
  display: table;
  width: 100%;
  padding: 0;
  margin-bottom: $tracker-margin-bottom;
  min-height: 68px;

  li {
    display: table-cell;
    text-align: center;
    position: relative;

    .tracker-step {
      width: 36px;
      height: 36px;
      margin: 0 auto;
      text-align: center;
      background-color: $tracker-step-background;
      border: 3px solid $body-bg;
      border-radius: 30px;
      line-height: 30px;
      position: relative;
      color: $tracker-step-color;
      z-index: 1;
    }

    .tracker-label {
      position: absolute;
      left: 0;
      right: 0;
      margin-top: 10px;
      color: $gray-light;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      background-color: $gray-lighter;
      height: 5px;
      left: 0;
      top: 15px;
    }
  }

  .tracker-complete {
    .tracker-label {
      color: $gray-light;
    }

    .tracker-step {
      background-color: $brand-success;
      position: relative;

      &::before {
        font-size: 20px;
        position: absolute;
        content: url('data:image/svg+xml;utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22entypo-svgicon%20entypo--check%22%20viewBox%3D%220%200%2020%2020%22%20height%3D%221em%22%20width%3D%221em%22%20display%3D%22inline-block%22%20fill%3D%22white%22%3E%3Cpath%20d%3D%22M8.294%2016.998c-.435%200-.847-.203-1.11-.553l-3.574-4.72c-.465-.614-.344-1.487.27-1.952.615-.467%201.488-.344%201.953.27l2.35%203.104%205.912-9.492c.407-.652%201.267-.852%201.92-.445.654.406.855%201.266.447%201.92L9.478%2016.34c-.242.39-.66.635-1.12.656-.022.002-.042.002-.064.002z%22%2F%3E%3C%2Fsvg%3E');
        display: block;
        line-height: 30px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $brand-success;
      }
    }
  }

  .tracker-active {
    .tracker-label {
      color: $brand-primary;
    }

    .tracker-step {
      background-color: $brand-primary;
    }
  }
}

@media (max-width: $screen-xs-max) {
  ul.tracker .tracker-label {
    display: none;
  }
}

@media (max-width: $screen-sm-max) {
  ul.tracker .tracker-label {
    font-size: $font-size-small;
  }
}
