/* Templates
 *
 * Styles for page layout and custom layout templates.
 *
 */

.template-page-wrapper {
  margin-top: 15px;
}

/* Highlight Template Types */

.highlight-template-type {
  color: black;
  text-decoration: underline;
}

/* Navigation for Example Nav, sets colors only */

.template-navigation {
  &-container {
    min-height: 100px;
  }

  &__top {
    padding: 0 0 0 15px;
  }

  &__bottom {
    background-color: var(--brand-cox);
    padding: 0 15px 0 0;
  }

  &__bottom .navbar-brand {
    color: #fff;
  }

  &__bottom .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  &__bottom .navbar-nav > li > a {
    color: #fff;
  }

  &__bottom .navbar-nav > li > a:hover {
    background-color: var(--brand-primary);
    color: #fff;
  }
}

/* Flexbox Solution for Sidebars and Asides */

.row__flexbox {
  display: flex;
}

.col__flexbox {
  padding: 0 15px;
}

.content__fluid-flexbox {
  flex: auto;
}

.sidebar__fixed-flexbox {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 256px;
  flex: 0 0 256px;
}

/* Non-Flexbox Solution for Sidebar/Content/Aside */

@media (max-width: $screen-xs-max) {
  .template-navigation__bottom,
  .template-navigation__top {
    padding: 0;
  }
}

@media (min-width: $screen-sm-min) {
  .sidebar__fixed {
    width: inherit;
    max-width: 256px;
    min-width: 256px;
    min-height: 100%;
    position: relative;
  }

  .content__fluid {
    width: calc(100% - 256px);
  }
}

/* Focus Template */

.template-focus-wrapper {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 460px;
  min-height: 360px;
}

.content-wrapper__focus {
  padding: 30px;
}
