/* Vehicle Object
 *
 * Vehicle example component.
 *
 */

.vo {
  position: relative;

  &__labels {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (max-width: $screen-sm-max) {
  .vo__labels {
    position: static;
  }
}
