/* Left Navigation
 *
 * Styling for the left navigation bar.
 *
 */

.left-nav-container {
  position: fixed;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #4e4e4e;
  width: 225px;
  top: 50px;
  right: auto;
  color: var(--gray-lightest);
  background-color: var(--brand-cox);
  overflow: hidden;

  @media(max-width: 991px) {
    & {
      width: 58px;
    }
  }
}

.left-nav {
  &__link {
    font-size: inherit;
  }

  @media(max-width: 991px) {
    &__link {
      font-size: 2em;
    }
  }

  &__pills > li {
    border-bottom: 1px solid #e7e7e7;
  }

  & > &__pills > li + li,
  & > .nav-stacked > li + li {
    margin-top: 0;
  }

  &__pills > li > a {
    border-radius: 0;
    color: var(--gray-lightest);
    background-color: var(--brand-cox);
  }

  &__pills > li > a:hover {
    color: var(--gray-lightest);
    background-color: var(--brand-cox);
  }

  &__pills > li > a.left-nav__link {
    padding-left: 12px;
  }

  &__pills > li > a.left-nav__link--active {
    color: var(--gray-lightest);
    background-color: var(--brand-primary);
  }

  &__pills > li > a.left-nav__link--active:hover {
    color: var(--gray-lightest);
    background-color: var(--brand-primary);
  }
}
