/* Post Panels
 *
 * Styling for the colored dashboard post panels.
 *
 */
:root {
  --posts-panel-blue: var(--brand-primary);
  --posts-panel-green: var(--brand-success);
  --posts-panel-red: var(--brand-danger);
  --posts-panel-yellow: var(--brand-warning);
}

.posts-panel {
  & > &__heading {
    padding: 10px 15px;
  }

  &__count {
    font-size: 40px;
  }

  &--blue {
    border-color: var(--posts-panel-blue);
  }

  & &__heading--blue {
    border-color: var(--posts-panel-blue);
    color: #fff;
    background-color: color(var(--posts-panel-blue) lightness(-10%));
  }

  &__link--blue {
    color: var(--posts-panel-blue);

    &:hover {
      color: color(var(--posts-panel-blue) lightness(-15%));
    }
  }

  &--green {
    border-color: var(--posts-panel-green);
  }

  & &__heading--green {
    border-color: var(--posts-panel-green);
    color: #fff;
    background-color: color(var(--posts-panel-green) lightness(-10%));
  }

  &__link--green {
    color: var(--posts-panel-green);

    &:hover {
      color: color(var(--posts-panel-green) lightness(-15%));
    }
  }

  &--red {
    border-color: var(--posts-panel-red);
  }

  & &__heading--red {
    border-color: var(--posts-panel-red);
    color: #fff;
    background-color: var(--posts-panel-red);
  }

  &__link--red {
    color: var(--posts-panel-red);

    &:hover {
      color: color(var(--posts-panel-red) lightness(-15%));
    }
  }

  &--yellow {
    border-color: var(--posts-panel-yellow);
  }

  & &__heading--yellow {
    border-color: var(--posts-panel-yellow);
    color: #fff;
    background-color: var(--posts-panel-yellow);
  }

  &__link--yellow {
    color: var(--posts-panel-yellow);

    &:hover {
      color: color(var(--posts-panel-yellow) lightness(-15%));
    }
  }
}
